<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @employee.addr %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @employee.dept %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
