<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @user.addr %>
</p>

<p>
  <strong>Mailid:</strong>
  <%= @user.mailid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
